<article id = <%= post.id %> >
  <h1>
    <%= post.title %>
  </h1>
  <p>
    <% if post.published %>
      <span> Published </span>
    <% end %>
    <%= post.body %>
  </p>
  <section class = 'controls'>
    <%= link_to 'Edit', post_path(id: post.id), method: :get, id: "edit_#{post.id}", class: 'control' %>

    <%= link_to 'Delete', post_path(id: post.id), method: :delete, id: "delete_#{post.id}", class: 'control' %>
  </section>
</article>
