<%= form_for @post do |post| %>

  <div>
    <%= post.label :title %>
    <%= post.text_field :title %>
  </div>

  <div>
    <%= post.label :body %>
    <%= post.text_area :body %>
  </div>

  <% if @policy.publish? %>
    <div>
      <%= post.label :published %>
      <%= post.check_box :published %>
    </div>
  <% end %>

  <div>
    <%= post.submit %>
  </div>

<% end %>
